html{
  font-size: 15px;
  margin: 0 0 30px 0;
  overflow-y: scroll;
}

body{
  font-family: "游ゴシック";
  color: #313131;
  width: calc(100% - 40%);
  margin: auto;
}

.nabi ul {
  list-style: none;
  display: flex;
  /* 親要素に指定することで、Flexboxが適用される */
  flex-direction: row;
  /* 左から右に横並び（デフォルト値なのでなくても可） */
  justify-content: center;
  /* 中央揃え */
  margin-left: -40px;
  /* margin: 20px; */

  font-size: 20px;
  font-weight: bold;
}

.nabi ul li {
  /* margin-left: 30px; */
  margin: 20px 60px;
}

/* hr{
border-width: 100px 0 0 0;
border-style: solid;
border-color: #000;
height: 1px;
} */
